{% extends "base.html" %}

{% load i18n %}
{% load allauth account %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <div class="mb-3">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}
                <a href="{{ signup_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}
            <div class="mb-3 form-control">
            {% element p %}
                {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
            {% endelement %}
            </div>
            {% url 'account_login' as login_url %}
            {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                    {% csrf_token %}

                    <div class="mb-3 form-control">
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                    </div>

                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" tags="prominent,login" %}
                        <button class="bg-white text-grey-800 font-bold rounded border-b-2 border-gray-500 hover:border-green-600 hover:bg-green-500 hover:text-black shadow-md py-1 px-3 text-xs inline-flex items-center">{% trans "Sign In" %}<i class='bx bx-log-in'></i></button>
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element h2 %}
                {% element button href=request_login_code_url tags="prominent,login,secondary" %}
                    {% trans "Mail me a sign-in code" %}
                {% endelement %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}