{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Signup" %}
{% endblock title %}
{% block content %}
    <div class="mb-3 form-control w-50">
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    </div>
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <div class="mb-3 form-control w-50">
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
            {% endslot %}
        {% endelement %}
        </div>
        {% element button tags="prominent,signup" type="submit" %}
            <button class="bg-white text-grey-800 font-bold rounded border-b-2 border-gray-500 hover:border-green-600 hover:bg-green-500 hover:text-black shadow-md py-1 px-3 text-xs inline-flex items-center">{% trans "Sign Up" %}<i class='bx bx-user-plus'></i></button>
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}