{% extends "base.html" %}
{% load thumbnail %}

{% block title %}homepage{% endblock %}

{% block body %}
    {% for post in posts %}

    <div class="card" style="width: 25rem;">
        <div class="card-header">
          {{post.date|date:"F j, Y, g:i:a"}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.text}}</li>
            <!-- TODO add in a detail url -->
            <li class="list-group-item">Read More</li>
            <!-- TODO insert an avatar, bio, photo, thumbnail, a name -->
            <li class="list-group-item text-right">
                {{post.author.username}}
                {% thumbnail post.author.profile.image "30x30" crop="center" as im %}
                    <img class="rounded me-2 float-end" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </li>
        </ul>
    </div>
    {% endfor %}


{% endblock %}